{% extends 'base.html.twig' %}

{% block main %}
    <h1>Articles</h1>

    {% if articles %}
        <table id="articles" class="table table-striped">
            <thead>
            <tr>
                <th> Title </th>
                <th> Action</th>
            </tr>
            </thead>
            {% for article in articles %}
                <tr>
                    <td>{{ article.title }}</td>
                    <td>
                        <a href="/article/{{ article.id }}" class="btn btn-dark">show</a>
                        <a href="#" class="btn btn-danger delete-article" data-id="{{ article.id }}">Delete</a>
                        <a href="/article/edit/{{ article.id }}" class="btn btn-light">edit</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Nothing to display</p>
    {% endif %}

    {% block javascripts %}
        <script src="/js/main.js"></script>
    {% endblock %}
{% endblock %}